<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Employee Management System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>American Towers<br>Corporation</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Register Employee</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Employee Details</a>
        <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Leave</a>
        <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Salary</a>
        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Attendance</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>American Towers Corporation</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/American_Tower_Corporation_logo.svg"
                 alt="Tower" style="width:100px;height:100px;">
        </div>
        <h1 class="w3-jumbo"><b>Employee Management Form</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>Enter Details...</b></h1>
        <hr style="width:100px;border:5px solid red" class="w3-round">

        <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post" target="_blank">
            <div class="w3-section">
                <label for="Title">Select Title</label>
                <select name="title" id="title" >
                    <option th:each="title : ${T( com.example.week7ems.enums.Title).values()}"
                    th:value="${title}"
                    th:text="${title}"></option>
                </select>
            </div>
            <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border" type="text" name="name"  required>
            </div>
            <div class="w3-section">
                <label>Email</label>
                <input class="w3-input w3-border" type="email" name="email"  required>
            </div>
            <div class="w3-section">
                <label>Address</label>
                <input class="w3-input w3-border" type="text" name="address"  required>
            </div>
            <div class="w3-section">
                <label>Date of Birth</label>
                <input class="w3-input w3-border" type="date" name="dateOfBirth" required>
            </div>
            <div class="w3-section">
                <label for="marital Status"> Marital Status</label>
                <select name="maritalStatus" id="marital Status">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                </select>
            </div>
            <div class="w3-section">
                <label for="Qualification">Qualification</label>
                <select name="qualification" id="Qualification">
                    <option th:each="qualification : ${T(com.example.week7ems.enums.Qualification).values()}"
                    th:value="${qualification}"
                    th:text="${qualification}"></option>
                </select>
            </div>
            <div class="w3-section">
                <label for="Department">Department</label>
                <select name="department" id="Department">
                    <option th:each="department : ${T(com.example.week7ems.enums.Department).values()}"
                    th:value="${department}"
                    th:text="${department}"></option>
                </select>
            </div>
            <div class="w3-section">
                <label for="Position">Position</label>
                <select name="position" id="Position">
                    <option th:each="position : ${T(com.example.week7ems.enums.Position).values()}"
                    th:value="${position}"
                    th:text="${position}"></option>
                </select>
            </div>

            <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Submit</button>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-opacity">American Towers Corporation</a></p></div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>

</body>
</html>